<!DOCTYPE html>
<html>

<head>
    <title>Регистрация</title>
</head>

<body>
<form action="/signup" method="post">
        <input type="email" name="email" required placeholder="Введите почту">
        <br>
        <input type="text" name="full_name" required placeholder="ФИО">
        <br>
        <input type="password" name="password" required placeholder="Введите пароль">
        <br>
        <input type="submit" value="Регистрация">
    </form>
    <a href="/login">Войти</a>
</body>

</html>